.container{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
button{
    height: 7%;
    width: 10%;
    background-color: red;
    color: white;
    box-shadow: 0 0 10px black ;
}
button:hover{
    background-color: black;
}