.box{
    background-color: beige;
            height: 100px;
            width: 100px;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            transition:all 3s linear 1s;

}
.box:hover{
    transform:rotate(45deg);

}
p{
    font-size: 36px;
}